# List

In [1]:
l1=[1,2,4,5,6]
l2=l1
l2

[1, 2, 4, 5, 6]

to store multiple values in similar data types or different data types with unique or duplicate values.
- list enclosed within square bracket [].
- list is a mutable data type.
- Duplicates allowed

    Mutable - it means after creating your list, if you want change any value or add or remove, it is possible

In [2]:
list1 = [12,25.56, True, "python"]

print(list1)

[12, 25.56, True, 'python']

In [3]:
list2 = [12,"hi",64.76,True]

print(list2)

print(type(list2))

[12, 'hi', 64.76, True]
<class 'list'>

In [4]:
print(type(list1))

<class 'list'>

In [5]:
list1 = [12,25.56, True, "python"]

list1[1]

25.56

In [6]:
list1[0]

12

In [7]:
list1[-1]

'python'

In [8]:
list1[0:4]    #0,1,2,3

[12, 25.56, True, 'python']

In [9]:
list1[2:10]

[True, 'python']

In [10]:
len(list1)

4

In [11]:
# change any value

list1 = [12,12, 25.56, True, "python"]

#index
#list1[1] = "hi"
#slicing
list1[2:5] = [67,78348748,"py"]

print(list1)

[12, 12, 67, 78348748, 'py']

In [12]:
list1 = [12,12, 25.56, True, "python",[1,"hi",544.70]]


print(list1[5][2])

544.7

In [13]:
list1 = [12,12, 25.56, True, "python",[1,"hi",544.70],[32,34,45,"py"],[34,435,75,[34,90,[3445,100,"sam",45]]]]



print(list1[7])

[34, 435, 75, [34, 90, [3445, 100, 'sam', 45]]]

In [14]:
#print(type(list1))

print(type(list1[5]))

<class 'list'>

# Pre-defined function in list

- append() -- used for adding the value at the end of the list
- insert()  -- used for adding the value at the specific index position.
- remove() -- value based removal
- pop(index) --- index baesd
- clear()   #remove all values from ur list object
- index() -- using value, if you want to see the index no
- count()
- sort()     #bydefault , it will sort in ascending order
- extend()
- copy()
- reverse()

In [15]:
list1 = [1,12, 25.56, True, "python"]

print(list1)

[1, 12, 25.56, True, 'python']

In [16]:
#1. append() -- used for adding the value at the end of the list

# append() takes exactly one argument

list1.append("hi")

#list1.append([34,43,"dfd"])


print(list1)

[1, 12, 25.56, True, 'python', 'hi']

In [17]:
#2. insert()  -- used for adding the value at the specific index position.

In [18]:
list1 = [1,12, 25.56, True, "python"]

list1.insert(2,"hi")

#list1.insert(4,43563545.345)

print(list1)

[1, 12, 'hi', 25.56, True, 'python']

In [19]:
#3. remove() -- value based removal

In [20]:
# remove is used to remove only one value at a time
list1 = [1,12, 25.56,12, True, "python"]

list1.remove(12)

print(list1)

[1, 25.56, 12, True, 'python']

In [21]:
# for removing mutiple values in the list
list1 = [7676735345, 12, 'hello', 'hello', 'python', 6767, 6767, 6767]

remove1 = [7676735345, 12, 'hello']

# g = 7676735345


for i in remove1:
    #print(i)
    list1.remove(i)
    
    
print(list1)

['hello', 'python', 6767, 6767, 6767]

Question 1 - 

-- add mutiple values to the list at a time using append or insert, 

create one list with some values, 

Add this values , 6437,"Good",34.56,[56,83,100,'Morning']

In [22]:
#4 pop(index) --- index baesd

In [23]:
# if u r not giving any index it will remove from last

list1 = [12,12, 25.56, True, "python"]

list1.pop()

print(list1)

[12, 12, 25.56, True]

In [24]:
list1 = [12,12, 25.56, True, "python"]

list1.pop(2)

print(list1)

[12, 12, True, 'python']

In [25]:
#5. clear()

In [26]:
list1.clear() #remove all values from ur list object

print(list1)

[]

In [27]:
list1 = [12,12, 25.56, True, "python"]

In [28]:
#del operator-- delete list object

#del list1[2]
#del list1[2:4]
#del list1

print(list1)

[12, 12, 25.56, True, 'python']

In [29]:
print(list1)

[12, 12, 25.56, True, 'python']

In [30]:
#7. index() - to see the index of any value in the list

list1 = [12, 25.56, True, "python",12, True]

list1.index(12)

0

In [31]:
#8. count() - to check any value how many times repeating

list1.count(12)

2

In [32]:
list1

[12, 25.56, True, 'python', 12, True]

In [33]:
#9  copy() - to copy the list to another list   #shallow copy

list1 = [12, 25.56, True, "python",12, True]

list2 = list1.copy()

In [34]:
list1.remove(25.56)

print(list1)

[12, True, 'python', 12, True]

In [35]:
print(list2)

[12, 25.56, True, 'python', 12, True]

In [36]:
#Deep copy

In [37]:
list1 = [12, 25.56, True, "python",12, True]

list3 = list1

print(list3)

[12, 25.56, True, 'python', 12, True]

In [38]:
list1.remove(25.56)

print(list1)

[12, True, 'python', 12, True]

In [39]:
print(list3)

[12, True, 'python', 12, True]

In [40]:

list1 = [10,78,65,30,74,-45,0,-10,-1,100]

print(list1, type(list1))

[10, 78, 65, 30, 74, -45, 0, -10, -1, 100] <class 'list'>

In [41]:
#10 reverse

list1 = [10,78,65,30,74,-45,0,-10,-1,100]

list1.reverse()

print(list1)

[100, -1, -10, 0, -45, 74, 30, 65, 78, 10]

In [42]:
#slicing
list1 = [10,78,65,30,74,-45,0,-10,-1,100]

#list1[::]

list1[::-1]

[100, -1, -10, 0, -45, 74, 30, 65, 78, 10]

In [43]:
#11 sort()

In [44]:
list2 = ["a","d","b","k","c"]

list2.sort()  #bydefault , it will sort in ascending order
list2.sort(reverse=False) 

print(list2)

['a', 'b', 'c', 'd', 'k']

In [45]:
list2.sort(reverse=True)       #descending order

print(list2)

['k', 'd', 'c', 'b', 'a']

In [46]:
#12 extend to join two list to one list

In [47]:
list2 = ["a","d","b","k","c"]
list1 = [10,78,65,30,74,-45,0,-10,-1,100]

list1.extend(list2)

#list1 += list2


print(list1)

[10, 78, 65, 30, 74, -45, 0, -10, -1, 100, 'a', 'd', 'b', 'k', 'c']

In [48]:
list2 = ["a","d","b","k","c"]
list1 = [10,78,65,30,74,-45,0,-10,-1,100]

list3 = list1 + list2

print(list3)

[10, 78, 65, 30, 74, -45, 0, -10, -1, 100, 'a', 'd', 'b', 'k', 'c']

Appending and Inserting:

How would you add a new element '5' to the end of a list?
How would you insert the value '10' at index 2 in a list?



Removing and Popping:

If you have a list ['apple', 'banana', 'cherry', 'banana'], how would you remove the element 'banana' from it?
What would be the outcome if you execute my_list.pop(2) on a list containing elements [1, 2, 3, 4, 5]?




Clearing and Indexing:

What method would you use to remove all elements from a list?
If you have a list ['apple', 'banana', 'cherry', 'banana'], what is the index of 'banana'?



Counting:

How would you count the number of occurrences of the value 'apple' in a list?
If you have a list [1, 2, 3, 3, 3, 4, 5], how many times does the value '3' occur?




Sorting and Reversing:

If you have a list [5, 2, 8, 1, 3], how would you sort it in ascending order?
How would you reverse the order of elements in a list?



Extending and Copying:

Suppose you have two lists: list1 = [1, 2, 3] and list2 = [4, 5, 6], how would you extend list1 with the elements of list2?
What's the difference between using my_new_list = my_list.copy() and my_new_list = my_list for creating a copy of a list?




Indexing and Slicing:

How would you retrieve the third element from a list?
If you have a list my_list = [1, 2, 3, 4, 5], how would you extract elements from index 1 to index 3 using slicing?

# Tuple

to store multiple values in similar data types or different data types with unique or duplicate values.
- tuple is  enclosed within parnthesis ().
- tuple is a immutable datatype

**count()	Returns the number of times a specified value occurs in a tuple**

**index()	Searches the tuple for a specified value and returns the position of where it was found**

In [50]:
tuple1 = (12, 25.56, True, "python")

print(tuple1,type(tuple1))

(12, 25.56, True, 'python') <class 'tuple'>
 <class 'tuple'>

In [51]:
t=1,2.0,'String',True

type(t)

tuple

In [53]:
tuple1[1] = 50.75

TypeError: 'tuple' object does not support item assignment

In [7]:
tuple1.insert(1,876)

AttributeError: 'tuple' object has no attribute 'insert'

In [13]:
tuple1 = (12, 25.56, True, "python",12,12,12)

print(tuple1,type(tuple1))

(12, 25.56, True, 'python', 12, 12, 12) <class 'tuple'>

In [14]:
tuple1.count(True)

1

In [15]:
tuple1.index("python")

3

In [16]:
len(tuple1)

7

In [33]:
t = (12,34,(45,23),[676,43,[34,100],43],"python","java")

print(t, type(t))

(12, 34, (45, 23), [676, 43, [34, 100], 43], 'python', 'java') <class 'tuple'>

In [19]:
t[2][1]

23

In [22]:
t[3][3]

43

In [24]:
t[3][2][0]

34

In [ ]:
print(type(t[3]))

In [31]:
# reverse the tuple


print(t[: : ])

(12, 34, (45, 23), [676, 43, [34, 100], 43], 'python', 'java')

In [ ]:
#t[ start : end : step]

In [40]:
print(t)

#print(t[:3])

print(t[0:10:-1])

(12, 34, (45, 23), [676, 43, [34, 100], 43], 'python', 'java')
()

In [41]:
# change, add, remove any value in the tuple 

#convert into list
t = (12,34,"python","java")

# converting tuple to list
list1 = list(t)

# changing the value of 1 index
list1[1] = 762647643

# changing from list to tuple
t = tuple(list1)

print(t,type(t))

#print(type(list1),list1)

(12, 762647643, 'python', 'java') <class 'tuple'>

In [42]:
a=(1,2,1.0,2)
b=list(a)
b

[1, 2, 1.0, 2]

In [43]:
a=[1,2,4.5,7]
b=tuple(a)
b

(1, 2, 4.5, 7)

In [44]:
# add value to the tuple

t = (12,34,(45,23),[676,43,43],"python","java")

list1 = list(t)

list1.append(762647643)

t = tuple(list1)

print(t,type(t))

(12, 34, (45, 23), [676, 43, 43], 'python', 'java', 762647643) <class 'tuple'>

In [14]:
# remove a value in tuple by converting into list

t = (12,34,(45,23),[676,43,43],"python","java")

list1 = list(t)

list1.remove("java")

t = tuple(list1)

print(t)

(12, 34, (45, 23), [676, 43, 43], 'python')

In [47]:
# to join two tuple to one tuple

t = (43,43534,56,6)
h = (54,45,56,354,54)

c = t + h

print(c,type(c))

(43, 43534, 56, 6, 54, 45, 56, 354, 54) <class 'tuple'>

**Tuple Creation and Access:**

How would you create a tuple containing the elements 'apple', 'banana', and 'cherry'?
If you have a tuple my_tuple = (10, 20, 30), how would you access the second element?
print(my_tuple[2])

    Immutable Nature:

Explain why tuples are immutable in Python and give an example demonstrating this property.


    Tuple Packing and Unpacking:

What is tuple packing and how is it done in Python?
How would you unpack a tuple (5, 'hello', True) into three separate variables?


    Tuple Methods:

Describe a method used to find the index of a specific element within a tuple.
How would you count the occurrences of a value within a tuple?


    Tuple Operations:

Explain how you would concatenate two tuples.
Is it possible to modify the elements of a tuple after it has been created? If not, why?

In [6]:
#Tuple Packing and Unpacking:

#What is tuple packing and how is it done in Python?

a = 43,433,"python",23.2,True
a=(1,3,4,1.6)
print(a,type(a))

#How would you unpack a tuple (5, 'hello', True) into three separate variables?

b = (5,"hello",True)

x,y,z = b

print(x)

print(y)

print(z)

(43, 433, 'python', 23.2, True) <class 'tuple'>
5
hello
True

# Range

# range(start, stop, step)

In [48]:
a = range(10)

print(type(a),a)

<class 'range'> range(0, 10)

In [49]:
for i in a:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [50]:
for abc in range(0,10):
    print(abc)

0
1
2
3
4
5
6
7
8
9

In [52]:
# range(start, stop, step)

for x in range(5,10):
    print(x)

5
6
7
8
9

In [53]:
#odd numbers
for xyz in range(1,10,2):
    print(xyz)

1
3
5
7
9

In [57]:
#even numbers
for xyz in range(2,10,-2):
    print(xyz)

In [56]:
for x in range(4):
    print(x)

0
1
2
3

# Dict

the purpose of dict data type is that " to store (key, value) in single variable."
- it will enclosed within curly braces {}.

key should be unique and value may not be unique.

In [ ]:
#clear()	Removes all the elements from the dictionary
#copy()	 Returns a copy of the dictionary
#get()	Returns the value of the specified key
#items()	Returns a list containing a tuple for each key value pair
#keys()	Returns a list containing the dictionary's keys
#values()	Returns a list of all the values in the dictionary
#pop()	Removes the element with the specified key
#popitem()	Removes the last inserted key-value pair
#update()	Updates the dictionary with the specified key-value pairs

In [25]:
dict1 = {"name":"Raj","age":32,"Salary":30000,"age":36}

dict2 = {1:100,2:200.9,"age":43}

print(dict2)

print(dict1, type(dict1))

{1: 100, 2: 200.9, 'age': 43}
{'name': 'Raj', 'age': 36, 'Salary': 30000} <class 'dict'>

In [27]:
# there is no indexing in dict, key will be the index for dict


#list1[1]
dict1["Salary"]

#dict1[1]

30000

In [ ]:


dict1["Salary"]

# Pre-defined function

In [28]:
#1. clear()

dict1.clear()

In [29]:
print(dict1)

{}

In [30]:
#2. pop()

dict1 = {"name":"Rohit","age":32,"salary":65624}

dict1.pop("age")

32

In [31]:
print(dict1)

{'name': 'Rohit', 'salary': 65624}

In [32]:
#3. popitem()---- used for remove last (key, value ) pair from dict.

dict1 = {"name":"Rohit","age":32,"salary":65624}

In [35]:
dict1.popitem()

('age', 32)

In [36]:
print(dict1)

{'name': 'Rohit'}

In [37]:
#4. copy()-- used for copying the content of one dict into another dict.

dict1 = {"name":"Rohit","age":32,"salary":65624}

dict2 = dict1.copy()

In [38]:
print(dict2)

{'name': 'Rohit', 'age': 32, 'salary': 65624}

In [39]:
#5. keys() - to see all the keys

dict1.keys()

dict_keys(['name', 'age', 'salary'])

In [40]:
#6. values()  - to see all the values

dict1.values()

dict_values(['Rohit', 32, 65624])

In [41]:
#7. items()  -  to see both keys & values

print(dict1.items())

dict_items([('name', 'Rohit'), ('age', 32), ('salary', 65624)])

In [ ]:
#8. get() -  to see the

In [42]:
dict1 = {"name":"Rohit","age":32,"salary":65624}

print(dict1.get("age"))

32

In [43]:
print(dict1["age"])

32

In [1]:
#9. update() - Updates the dictionary with the specified key-value pairs

dict1 = {"name":"Rohit","age":32,"salary":65624}
dict2 = {"city":233,"Department":"Dev","name":"Gill",'age':45}

dict1.update(dict2)

print(dict1)

{'name': 'Gill', 'age': 45, 'salary': 65624, 'city': 233, 'Department': 'Dev'}

In [45]:
# mutiple values

dict1 = {"name":["Rohit","Gill","Virat","Vimal"],"age":(32,45,34,24),"salary":[65624,2000,3243,4564]}


print(dict1)

print(type(dict1))

{'name': ['Rohit', 'Gill', 'Virat', 'Vimal'], 'age': (32, 45, 34, 24), 'salary': [65624, 2000, 3243, 4564]}
<class 'dict'>

# set

To store multiple values in single or different type of value in one single variable.
set, you can store only unique value.
you should enclosed within curly braces {}
set does not support order
We can't use indexing and slicing.
set is a mutable object. But by using add(), we can add values into set.so set is mutable for add().

In [46]:
set1 = {10,20,30,40,"hello", "python",10, 34.5, True, 1, 0, False}  # true & 1 will be consider as 1

print(set1,type(set1))

{0, True, 34.5, 40, 10, 'python', 20, 'hello', 30} <class 'set'>

In [47]:
print(set1)

{0, True, 34.5, 40, 10, 'python', 20, 'hello', 30}

In [48]:
set1[2] = 100  #immutable.

TypeError: 'set' object does not support item assignment

# Pre-defined function in set

In [49]:
a = {"ram","hari","virat"}

b = {"dhoni","virat","rohit","ram"}

print(a,type(a))
print(b,type(b))

{'ram', 'virat', 'hari'} <class 'set'>
{'rohit', 'dhoni', 'ram', 'virat'} <class 'set'>

In [50]:
#1. union() -  to add two set 

print(a.union(b))

{'rohit', 'ram', 'dhoni', 'virat', 'hari'}

In [51]:
#2. intersection()  -  	Returns a set, that is the intersection of two other sets

print(a.intersection(b))

{'ram', 'virat'}

In [ ]:
a = {"ram","hari","virat"}

b = {"dhoni","virat","rohit"}

c = {"Gill","ram"}

In [52]:
#3. difference()  -  Returns a set containing the difference between two or more sets

print(a.difference(b))

{'hari'}

In [ ]:
#4. add()  used for adding value in set

In [53]:
a = {"ram","hari","virat"}

a.add("gill")

print(a)

{'gill', 'ram', 'virat', 'hari'}

In [ ]:
print(a)

In [54]:
#5. remove()

a.remove('virat')

print(a)

{'gill', 'ram', 'hari'}

In [56]:
a.remove(55)

KeyError: 55

In [ ]:
#6. discard

In [55]:
a.discard("gill")

print(a)

{'ram', 'hari'}

In [58]:
a.discard(55)          #Not show any error if value is not there in set

In [ ]:
#7. pop()  --used for removing values from set in random

In [60]:
set1 = {10,20,30,40,"hello", "python",10, 34.5, True, 1, 0, False }

set1.pop()

print(set1)

{True, 34.5, 40, 10, 'python', 20, 'hello', 30}

In [61]:
set1.pop()

print(set1)

{34.5, 40, 10, 'python', 20, 'hello', 30}

In [62]:
set1.pop()
set1

{10, 20, 30, 40, 'hello', 'python'}

# frozenset

- To store multiple values in single or different type of value in one single variable.

- it is immutable type

- unique value

In [ ]:
# frozenset([] or () or {})

froze = frozenset([2,3,4.5,"hi"])

print(froze,type(froze))

In [ ]:
f=frozenset((10,20,30,40,30,50,))

print(f,type(f))

In [ ]:
f=frozenset({10,10,30,40,30,50})

print(f,type(f))

In [ ]:
f=frozenset()

print(f,type(f))

# None data types

In [ ]:
a = 0

print(a, type(a))

In [ ]:
a = None

print(a, type(a))