# Operators

some operation

- 7 types of operators
1. Arithmetic op
2. Assignment op
3. Relational op
4. Logical Op
5. Bitwise Op
6. Membership op
7. Identity Op

# Arithmetic op

In [ ]:
+ addition
- substraction
* multiplication
/ division
// floor division
** exponetitaion
% modulues

In [ ]:
a = 100
b = 18

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a ** b)
print(a % b)

In [ ]:
a = 5
b = 10

print(a%b)

In [ ]:
a//b

In [ ]:
a = 2
b = 4

c = a ** b  # 2*2*2*2

print(c)

# Assignment op

In [ ]:
# = 
# +=
# -=
# *=
# /=
# **=
# //=
# %=

a = 10

print(a)

In [ ]:
b = 20

b += 10   # b = b  + 10

print(b)

In [ ]:
a = 20
b = 25


a += b

print(a)

In [ ]:
b = 20

b -= 10   # b=b-10

print(b)

In [ ]:
b *= 10 

print(b)

In [ ]:
list1 = [1,2,3,4]
list2 = [2,4,5,6]

list1 += list2   #list1= list1+list2

print(list1)

# Relational Op

# >  Greater than
< Smaller than
== Equality op
!= Not equals to
>=
<=

In [ ]:
# >  Greater than
a = 11
b = 10

a > b

In [ ]:
# < Smaller than
a = 10
b = 15

a < b

In [9]:
# == Equality op

a = 10
b = 10

a == b

True

In [ ]:
# != Not equals to

a = 10
b = 18

a != b

In [ ]:
# greater than or equal to

a = 10
b = 10

print(a >= b)
print(a > b)

In [ ]:
# lesser than or equal to

a = 10
b = 10

a <= b

# Logical Op

# and op
or op
not op

In [ ]:
# and op

exp1    exp2    o/p

T        T        T
T        F        F
F        T        F
F        F        F

In [1]:
a=10
b=20
c=30

a < b and c > b

True

In [2]:
a<b

True

In [3]:
c > b

True

In [4]:
a<b and c<b

False

In [ ]:
a>b and c<b

In [ ]:
# or operator

exp1    exp2    o/p

T        T        T
T        F        T
F        T        T
F        F        F

In [6]:
a = 10
b = 20
c = 30

In [7]:
a < b or c > a

True

In [ ]:
a > b or c > a

In [ ]:
a > b or c < a

In [ ]:
a>b or c<b

In [ ]:
# not operator

exp 1   o/p
T        F
F        T

In [8]:
a=10
b=20

not a<b

False

In [ ]:
a<b

In [ ]:
a>b

In [ ]:
not a>b

# Bit-wise op

&  --and operator
|  -- or operator
~  -- Not operator
^ -- XOR operator
<< --left shift
>> --right shift

In [ ]:
# Bit wise &(AND) op 
exp1    exp2    o/p

1        1        1
1        0        0
0        1        0
0        0        0

In [10]:
# &  --and operator

a = 10    # 8 4 2 1 - 1 0 1 0
b = 5     # 8 4 2 1 - 0 1 0 1

a & b   # and - 0 0 0 0

0

In [ ]:
a = 15   # 1 1 1 1
b = 3    # 0 0 1 1

a & b    # 0 0 1 1

In [ ]:
# Bit wise |(OR) op 
exp1    exp2    o/p

1        1        1
1        0        1
0        1        1
0        0        0

In [11]:
# |  -- or operator

a = 10    # 8 4 2 1 - 1 0 1 0
b = 5     # 8 4 2 1 - 0 1 0 1

a | b     # or - 1 1 1 1

15

In [12]:
# not operator  =   -(n+1)

a = 33   # -(33+1)= -34

~a    #a=15  . ~a=  -(n+1) - -(10+1) - -(11) -11

-34

In [13]:
a = -12

~a    #-(-12+1)=-(-11)=11

11

In [ ]:
-12+1

In [ ]:
# XOR operator

exp1    exp2    o/p

1        1        0
1        0        1
0        1        1
0        0        0

In [14]:

a = 10    # 8 4 2 1 - 1 0 1 0
b = 5     # 8 4 2 1 - 0 1 0 1

a ^ b     # xor - 1 1 1 1

15

In [15]:
# left shift 

a = 10    # 8 4 2 1 - 1 0 1 0
b = 2   # 2- zeros will be added right side

print(a << b)

40

In [17]:
# right shift 

a = 10    # 8 4 2 1 - 1 0 1 0
b = 4   # 2- zeros will be added left side

a >> b

0

In [ ]:
# right shift 

a = 10    # 8 4 2 1 - 1 0 1 0
b = 3   # 3- zeros will be added left side

a >> b

In [ ]:
12>>3

# Membership op

In [ ]:

in       
not in

In [18]:
s = "python is"


'python' in s

True

In [19]:
'z' in s

False

In [20]:
'y' not in s

False

In [21]:
'z' not in s

True

# identity op

In [ ]:
is
is not

In [22]:
a = 5
b = 5


print(id(a))
print(id(b))

140734120535968
140734120535968

In [23]:
a is b

True

In [25]:
a = "ggh"
b = "ggh"

print(id(a))
print(id(b))

2178846439536
2178846439536

In [26]:
a is b

True

In [27]:
a is not b

False

In [ ]:
Arithmetic Operators:

How would you use Python to calculate the area of a rectangle given its length and width using arithmetic operators?
length = 8
width = 5

Assignment Operators:

Explain the difference between "=" and "+=" in Python assignment operators with suitable examples.
How would you use Python assignment operators to update the value of a variable by a certain increment?



Relational Operators:

In Python, how would you compare two variables to check if they are equal using relational operators?
Can you demonstrate how to use relational operators to determine if a given number is greater than, 
less than, or equal to another number?


Identity Operators:

Discuss the difference between "is" and "==" in Python identity operators with examples.
How would you use identity operators to compare the memory locations of two objects in Python?