# Introduction to Pandas

- Pandas is an open source Python Library / Module providing 
high performance and data manipulation and Analysis Tool.
- The Traditional Python Programming does not contain any Module 
for Data Analysis and Now Python Programming uses Pandas as an anaysis tool.

# Installation of Pandas

In [ ]:
pip install pandas

In [ ]:
import pandas as pd

In [ ]:
print(pd.__version__)

# Data Structures used in Pandas

=>In Pandas programming, we can store the data in 2 types of Data structures. They are.

		a) Series
		b) DataFrame

# Series

In [ ]:
lst = [10,20,30,40,50,60]

s = pd.Series(lst)

print(s,type(s))

In [ ]:
s[0]

In [ ]:
s.shape

In [ ]:
lst = [10,"Rossum",34.56,"Author"]

s = pd.Series(lst,index=["Stno","Name","Marks","Desgination"])

print(s,type(s))

In [ ]:
d1 = {"sub1":"Python","sub2":"Java","sub3":"Data Science","sub4":"ML"}

#print(d1)
s = pd.Series(d1)

print(s)

In [ ]:
s['sub2']

# DataFrame

=>A DataFrame is 2-Dimensional Data Structure to organize the data .
=>In Otherwords a DataFrame Organizes the data in the Tabular Format, 
which is nothing but Collection of Rows and Columns.

# Creating an object DataFrame by Using list / tuple

In [ ]:
lst = [[10,20,30,40],[10,20,30,45],[10,20,30,40]]

df = pd.DataFrame(lst)

#df.shape

print(df)

In [ ]:
lst = [[10,'RS'],[20,'JG'],[30,'MCK'],[40,'TRA']]

df = pd.DataFrame(lst)

print(df)

In [ ]:
lst = [[10,'RS'],[20,'JG'],[30,'MCK'],[40,'TRA']]

df = pd.DataFrame(lst,columns=('Rno','Name'),index=[1,2,3,4])

print(df)

In [ ]:
tpl = ( ("Rossum",75), ("Gosling",85), ("Travis",65), ("Ritche",95),("MCKinney",60) )

df = pd.DataFrame(tpl, index=[1,2,3,4,5],columns=['Name','Age'])

print(df)

# Creating an object DataFrame by Using dict object

In [ ]:
dictdata = {"Names":["Rossum","Gosling","Ritche","McKinney"],
            "Subjects":["Python","Java","C","Pandas"],"Age":[65,80,85,55]  }

print(dictdata)

In [ ]:
df = pd.DataFrame(dictdata)

print(df)

In [ ]:
df=pd.DataFrame(dictdata,index=[1,2,3,4])

print(df)

# LOC()

# Locate Row

Pandas use the loc attribute to return one or more specified row(s)

In [ ]:
df

In [ ]:
print(df.loc[1])

In [ ]:
print(df.loc[[1, 3,4]])

# Locate the Rows in a Range

In [ ]:
result = df.loc[1:3]

result

# Locate Named Indexes

In [ ]:
dictdata = {"Names":["Rossum","Gosling","Ritche","McKinney"],
            "Subjects":["Python","Java","C","Pandas"],"Age":[65,80,85,55]  }
#dictdata.values()

print(dictdata)

In [ ]:
df = pd.DataFrame(dictdata)

print(df)

In [ ]:
df=pd.DataFrame(dictdata,index=["day1", "day2", "day3","day4"])

print(df)

In [ ]:
print(df.loc["day2"])

# Locate Named Indexes in range

In [ ]:
print(df.loc["day2":"day4"])

# Creating an object DataFrame by Using Series object

In [ ]:
l1 = [10,20,30,40]

sdata = pd.Series(l1)

print(type(sdata))

print(sdata)

In [ ]:
# converting from series to DataFrame

df= pd.DataFrame(sdata, columns=["number"])

print(df)

In [ ]:
d1 = {"totmark":[100,110,120,130],"ExtMarks":[80,75,65,90]}

df = pd.DataFrame(d1,index=[1,2,3,4])

df

In [ ]:
df.columns

# Adding new Column Name to Data Frame

In [ ]:
df['totmark']

In [ ]:
# Add is a new column name

df['Add'] = df['totmark'] + df['ExtMarks']
df

In [ ]:
df['sub'] = df['totmark'] - df['ExtMarks']
df

In [ ]:
# Roll_No1 is a new column

df['Roll_NO1'] = range(1,5)
df

In [ ]:
# changing the column order

df = df[['Roll_NO1','totmark','ExtMarks','Add','sub']]
df

In [ ]:
import numpy as np

# Adding NULL values to a new column called name

df['name'] = np.nan
df

# Removing Columns & rows from Data Frame

In [ ]:
# columns

df = df.drop(columns='name')  # column name 
df

In [ ]:
# remove a row

df = df.drop(3) # index number

In [ ]:
df

In [ ]:
# delete mutiple Columns

df = df.drop(columns=['Add','sub','ExtMarks'])
df

# sorting the dataframe data

In [ ]:
df = df.sort_values(["totmark"] )
df

In [ ]:
df = df.sort_values(["totmark"] ,ascending=False) # descending order = ascending = False
df

In [ ]:
df.to_csv('students_mark')

In [ ]:
df.to_csv(r'C:\Users\Lenovo\Desktop\ttt')

In [ ]:
import os


os.getcwd()

In [ ]:
import pandas as pd

# Read CSV

In [ ]:
df = pd.read_csv("C:\\Users\\Lenovo\\Desktop\\IPL_Matches.csv")
df

In [ ]:
df = pd.read_csv("C:\\Users\\Lenovo\\Desktop\\IPL_Matches.csv")
df

In [ ]:
df['city']

# Read JSON

Big data sets are often stored, or extracted as JSON.

JSON is plain text, but has the format of an object, and 
is well known in the world of programming, including Pandas.

In [1]:
import pandas as pd

df = pd.read_json("C:\\Users\\Lenovo\\Desktop\\demo.json")

df

A:\Anocoda\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

In [ ]:
df pd.read_

# Pandas - Analyzing DataFrames

# Viewing the Data

In [ ]:
df.head()

In [ ]:
df.head(7)

In [ ]:
df.tail()

In [ ]:
df.tail(2)

In [ ]:
# rows, columns

df.shape

In [ ]:
# all columns names

df.columns

In [ ]:
# to check datatype of each column

df.dtypes

In [ ]:
# information of all the columns, like column name, dtype,rows

df.info()

In [ ]:
df.describe()

In [ ]:
df[df['eliminator'].isnull()]

In [ ]:
df[df['city'].isnull()]

In [ ]:
# to find null values

df.isnull().sum()

In [ ]:
# count of each venues

df['venue'].value_counts()

# Data Cleaning

Data cleaning means fixing bad data in your data set.

Bad data could be:

Empty cells
Data in wrong format
Wrong data
Duplicates

# Empty Cells

Empty cells can potentially give you a wrong result when you analyze data.

# Remove Rows

One way to deal with empty cells is to remove rows that contain empty cells.

This is usually OK, since data sets can be very big, and 
removing a few rows will not have a big impact on the result.

In [ ]:
import pandas as pd

df = pd.read_csv("C:\\Users\\Lenovo\\Desktop\\IPL_Matches.csv")

new_df = df.dropna()

print(new_df)

In [ ]:
new_df = pd.DataFrame(new_df)

new_df

In [ ]:
new_df.isnull().sum()

# By default, the dropna() method 
returns a new DataFrame, and will not change the original.

# inplace = True

In [ ]:
# To remove Null values in your original variable or dataset

import pandas as pd

fd = pd.read_csv("C:\\Users\\Lenovo\\Desktop\\IPL_Matches.csv")

fd.dropna(inplace = True)

print(fd)

In [ ]:
fd = pd.DataFrame(fd)

fd

In [ ]:
fd.isnull().sum()

# Removing Null Values based on columns

In [ ]:

import pandas as pd

df = pd.read_csv("C:\\Users\\Lenovo\\Desktop\\IPL_Matches.csv")

df = df.dropna(subset=['player_of_match'])

df

In [ ]:
df.isnull().sum()

# Removing Rows using loop

In [ ]:
Another way of handling wrong data is to remove the rows that contains wrong data.

This way you do not have to find out what to replace them with, 

and there is a good chance you do not need them to do your analyses.

In [ ]:
import pandas as pd

df = pd.read_csv("C:\\Users\\Lenovo\\Desktop\\IPL_Matches.csv")

df

In [ ]:
for x in df.index:
    if df.loc[x, "result_margin"] > 120.0:
        df.drop(x, inplace = True)

In [ ]:
df

# Replace Empty Values

Another way of dealing with empty cells is to insert a new value instead.

This way you do not have to delete entire rows just because of some empty cells.

The fillna() method allows us to replace empty cells with a value

In [ ]:
re.isnull().sum()

In [ ]:
import pandas as pd

re = pd.read_csv("C:\\Users\\Lenovo\\Desktop\\IPL_Matches.csv")

In [ ]:
#replace for all columns ---  not recommemned

re.fillna(130, inplace = True)

In [ ]:
re.isnull().sum()

# Replace Only For Specified Columns

In [ ]:
import pandas as pd

re = pd.read_csv("C:\\Users\\Lenovo\\Desktop\\IPL_Matches.csv")

In [ ]:
re["result_margin"].fillna(8, inplace = True)

In [ ]:
re

In [ ]:
re.isnull().sum()

In [ ]:
import pandas as pd

df = pd.read_csv("C:\\Users\\Lenovo\\Desktop\\IPL_Matches.csv")

In [ ]:
df.isnull().sum()

In [ ]:
#2 menthod

df['city'] = df['city'].fillna('Dubai')

# Loop through all values in the "Result_margin" column.

If the value is higher than 0, set it to 120:

In [ ]:
for x in re.index:
    if re.loc[x, "result_margin"] > 120:
        re.loc[x, "result_margin"] = 100

In [ ]:
re

# Replace Using Mean, Median, or Mode

A common way to replace empty cells, is to calculate the mean, median or mode value of the column.

Pandas uses the mean() median() and mode() methods to 
calculate the respective values for a specified column:

In [ ]:
#mean

# Mean = the average value (the sum of all values divided by number of values).
import pandas as pd

re = pd.read_csv("C:\\Users\\Lenovo\\Desktop\\IPL_Matches.csv")

In [ ]:
re.isnull().sum()

In [ ]:
x = re["result_margin"].mean()
x

In [ ]:
re["result_margin"].fillna(x, inplace = True)

In [ ]:
Median = the value in the middle, after you have sorted all values ascending.

In [ ]:
import pandas as pd

re = pd.read_csv("C:\\Users\\Lenovo\\Desktop\\IPL_Matches.csv")

In [ ]:
x = re["result_margin"].median()
x

In [ ]:
re["result_margin"].fillna(x, inplace = True)

In [ ]:
re.isnull().sum()

In [ ]:
Mode = the value that appears most frequently.

In [ ]:
x = re["result_margin"].mode()[0]

x

In [ ]:
re["result_margin"].fillna(x, inplace = True)

In [ ]:
re.isnull().sum()

In [ ]:
-----

# Value_count()

In [ ]:
df["venue"].value_counts()

# unique()

In [ ]:
df['venue'].unique()

# Filter

In [ ]:
df[df['venue'] == 'M Chinnaswamy Stadium']

# Fixing Wrong Data

In [ ]:
# replace

df['venue'] = df['venue'].replace('M.Chinnaswamy Stadium','M Chinnaswamy Stadium')

In [ ]:
df["venue"].value_counts()

In [ ]:
#2

df["city"].value_counts()

In [ ]:
df['city'] = df['city'].replace('Bengaluru', 'Bangalore')

In [ ]:
Replacing Values
One way to fix wrong values is to replace them with something else.

In [ ]:
df.loc[0, 'city'] = "Mumbai"

In [ ]:
df['city'][0] = 'Mumbai'

In [ ]:
df

# Data of Wrong Format

Cells with data of wrong format can make it difficult, or even impossible, to analyze data.

In [ ]:
#astype - it is used to change from one datatype to another

df['id'] = df['id'].astype(float)  # astype()

df.dtypes

In [ ]:
df['date'] = pd.to_datetime(df['date'])

In [ ]:
df.dtypes

# Removing Duplicates

In [ ]:
The duplicated() method returns a Boolean values for each row

In [ ]:
print(df.duplicated())

To remove duplicates, use the drop_duplicates() method.

In [ ]:
df.drop_duplicates(inplace = True)

In [ ]:
import warnings

warnings.filterwarnings('ignore')

# rename any column name

In [ ]:
#rename any column name

df = df.rename(columns={'city':'City1'})
df

In [ ]:
df

# Concatenating DataFrames using concat()

In [ ]:
Let’s say we split the provided dataset into two smaller 
DataFrames and then concatenate them back together.

In [ ]:
import pandas as pd

# Create two DataFrames from the provided data (splitting the data manually here for illustration)
data_part1 = {
    'id': [335982, 335983, 335984],
    'city': ['Bangalore', 'Chandigarh', 'Delhi'],
    'date': ['4/18/2008', '4/19/2008', '4/19/2008'],
    'player_of_match': ['BB McCullum', 'MEK Hussey', 'MF Maharoof'],
    'venue': ['M Chinnaswamy Stadium', 'Punjab Cricket Association Stadium, Mohali', 'Feroz Shah Kotla'],
    'team1': ['Royal Challengers Bangalore', 'Kings XI Punjab', 'Delhi Daredevils'],
    'team2': ['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals'],
    'winner': ['Kolkata Knight Riders', 'Chennai Super Kings', 'Delhi Daredevils']
}

In [ ]:
data_part2 = {
    'id': [335985, 335986, 335987],
    'city': ['Mumbai', 'Kolkata', 'Jaipur'],
    'date': ['4/20/2008', '4/20/2008', '4/21/2008'],
    'player_of_match': ['MV Boucher', 'DJ Hussey', 'SR Watson'],
    'venue': ['Wankhede Stadium', 'Eden Gardens', 'Sawai Mansingh Stadium'],
    'team1': ['Mumbai Indians', 'Kolkata Knight Riders', 'Rajasthan Royals'],
    'team2': ['Royal Challengers Bangalore', 'Deccan Chargers', 'Kings XI Punjab'],
    'winner': ['Royal Challengers Bangalore', 'Kolkata Knight Riders', 'Rajasthan Royals']
}

In [ ]:
# Convert dictionaries into DataFrames
df_part1 = pd.DataFrame(data_part1)
df_part2 = pd.DataFrame(data_part2)

In [ ]:
# Concatenating both parts
df_full = pd.concat([df_part1, df_part2], ignore_index=True)

# Displaying the concatenated DataFrame
df_full

# Merging DataFrames using merge()

Let’s create two DataFrames — one containing match details and 
the other containing umpire information. Then we’ll merge them based on the id column.

In [ ]:
# Match details DataFrame
matches = pd.DataFrame({
    'id': [1, 3, 5, 10],
    'city': ['Bangalore', 'Chandigarh', 'Delhi', 'Mumbai'],
    'date': ['4/18/2008', '4/19/2008', '4/19/2008', '4/20/2008'],
    'team1': ['Royal Challengers Bangalore', 'Kings XI Punjab', 'Delhi Daredevils', 'Mumbai Indians'],
    'team2': ['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals', 'Royal Challengers Bangalore'],
    'winner': ['Kolkata Knight Riders', 'Chennai Super Kings', 'Delhi Daredevils', 'Royal Challengers Bangalore']
})

In [ ]:
# Umpire details DataFrame
umpires = pd.DataFrame({
    'id': [8, 3, 1, 7],
    'umpire1': ['Asad Rauf', 'MR Benson', 'Aleem Dar', 'BF Bowden'],
    'umpire2': ['RE Koertzen', 'SL Shastri', 'GA Pratapkumar', 'K Hariharan']
})

In [ ]:
# Merging the two DataFrames on 'id'
merged_df = pd.merge(matches, umpires, on='id', how='inner')

# Displaying the merged DataFrame
merged_df

# Merge Options

There are four types of joins in merge():

# Inner Join (default): Only includes rows where id exists in both DataFrames.

In [ ]:
pd.merge(matches, umpires, on='id', how='inner')

Left Join: Keeps all rows from the left DataFrame and only matching rows from the right DataFrame.

In [ ]:
pd.merge(matches, umpires, on='id', how='left')

Right Join: Keeps all rows from the right DataFrame and only matching rows from the left DataFrame.

In [ ]:
pd.merge(matches, umpires, on='id', how='right')

Outer Join: Keeps all rows from both DataFrames.

In [ ]:
pd.merge(matches, umpires, on='id', how='outer')

# .join()

In [ ]:
The .join() function in Pandas is used to join two DataFrames by their indexes

In [ ]:
import pandas as pd

# First DataFrame with information about teams
df_teams = pd.DataFrame({
    'team': ['Royal Challengers Bangalore', 'Kings XI Punjab', 'Delhi Daredevils', 'Mumbai Indians'],
    'city': ['Bangalore', 'Chandigarh', 'Delhi', 'Mumbai'],
}, index=[1, 2, 3, 4])

In [ ]:
# Second DataFrame with information about players

df_players = pd.DataFrame({
    'player_of_match': ['BB McCullum', 'MEK Hussey', 'MF Maharoof', 'MV Boucher'],
    'date': ['4/18/2008', '4/19/2008', '4/19/2008', '4/20/2008'],
}, index=[1, 2, 5, 6])

In [ ]:
# Joining the two DataFrames using the index
df_joined = df_teams.join(df_players)

# Display the resulting DataFrame
df_joined

In [ ]:
Key Parameters in .join():
how: Specifies the type of join. Options include:
'left': Default, keeps all rows from the left DataFrame.
'right': Keeps all rows from the right joined DataFrame.
'outer': Keeps all rows from both DataFrames.
'inner': Keeps only the rows with matching indices in both DataFrames.

In [ ]:
# Left join (keeps all rows from the left DataFrame)
df_left_joined = df_teams.join(df_players, how='outer')

# Display the left-joined DataFrame
print(df_left_joined)

# groupby()

In [ ]:
The groupby() function in Pandas is used to split data into 
groups based on some criteria and apply a function to each group, 
returning the results combined into a single DataFrame or Series. 
You can perform various operations on the grouped data, 

such as sum(), mean(), count(), min(), max(), etc.

In [ ]:
import pandas as pd

# Sample IPL match data
data = {
    'team': ['RCB', 'RCB', 'MI', 'MI', 'KXIP', 'KXIP', 'RCB', 'MI'],
    'runs': [150, 180, 200, 220, 175, 160, 190, 240],
    'wickets': [5, 6, 7, 4, 3, 5, 6, 7],
    'played_against': ['MI', 'KXIP', 'RCB', 'KXIP', 'RCB', 'MI', 'MI', 'RCB']
}

df = pd.DataFrame(data)

In [ ]:
# Grouping by 'team' and summing the 'runs' and 'wickets' columns
grouped_df = df.groupby('team').sum()
print(grouped_df)

In [ ]:
GroupBy with Multiple Aggregations

In [ ]:
# Grouping by 'team' with multiple aggregation functions (sum and mean)
grouped_multi = df.groupby('team').agg({
    'runs': ['sum', 'mean'],
    'wickets': ['sum', 'mean']
})

print(grouped_multi)

# GroupBy with a Specific Column

In [ ]:
# Grouping by 'played_against' and summing 'runs'

grouped_against = df.groupby('played_against')['runs'].sum()
print(grouped_against)

In [ ]:
import pandas as pd

df = pd.read_csv("C:\\Users\\Lenovo\\Desktop\\IPL_Matches.csv")

In [ ]:
df.groupby('team1')['player_of_match'].value_counts().head(1)

In [ ]:
df.groupby('city')['venue'].value_counts()

In [ ]:
winner = df.groupby('city')['winner'].value_counts()

In [ ]:
winner

In [ ]:
fd = pd.DataFrame(winner)

In [ ]:
fd

In [ ]:
fd.to_csv("winner")